.header.menu {
  position:fixed;
  width:100%;
  top:0px;
  z-index: 1;
}

.description {
	height: 38px;
}

.userCard {
	margin-top: 80px;
}


/*footer*/
.bs-scrolling-header{
  position:fixed;
  background: orange ;
  height:100px;
  width:100%;
  transition:  all .3s ease-in-out;
  bottom:0px;
  z-index: 1;
}

.small{
  height: 50px;
  background:blue;
}

.small * {
    font-size: small;
    color: beige;
}
/*footer*/
